<section id="overview" class="bg box-shadow mt-2">
    <div class="row py-3 main-text-color overview-head">
        <div class="col-md-12">
            <h5>Overview &nbsp; <i class="fa fa-edit" data-toggle="modal" data-target="#overviewModalCenter"></i></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut a esse hic, saepe nulla aut sint sunt.
                Corrupti quisquam soluta quaerat culpa dolor, voluptate distinctio minus excepturi quidem nobis.</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ut a esse hic, saepe nulla aut sint sunt.
                Corrupti quisquam soluta quaerat culpa dolor, voluptate distinctio minus excepturi quidem nobis.</p>
        </div>
    </div>
</section>

<section id="experience" class="bg box-shadow mt-2">
    <div class="row py-3 main-text-color experience-head">
        <div class="col-md-12">
            <h5>Experience &nbsp; <i class="fa fa-plus" data-toggle="modal" data-target="#experienceModalCenter"></i>
            </h5>
        </div>
    </div>
    <div class="row exp-list main-text-color mt-2">
        <div class="col-md-12">
            <h6>Logo Design &nbsp; <i class="fa fa-edit"></i></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rerum molestias? Quae quidem veniam
                suscipit sunt, quod odit recusandae magnam officiis earum ut autem ab eos vitae nam, laborum illum!</p>
        </div>
    </div>

    <div class="row exp-list main-text-color mt-2">
        <div class="col-md-12">
            <h6>Video Editing &nbsp; <i class="fa fa-edit"></i></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rerum molestias? Quae quidem veniam
                suscipit sunt, quod odit recusandae magnam officiis earum ut autem ab eos vitae nam, laborum illum!</p>
        </div>
    </div>

    <div class="row exp-list main-text-color mt-2">
        <div class="col-md-12">
            <h6>3D Animation &nbsp; <i class="fa fa-edit"></i></h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, rerum molestias? Quae quidem veniam
                suscipit sunt, quod odit recusandae magnam officiis earum ut autem ab eos vitae nam, laborum illum!</p>
        </div>
    </div>
</section>

<section id="education" class="bg box-shadow mt-2">
    <div class="row py-3 main-text-color education-head">
        <div class="col-md-12">
            <h5>Education &nbsp; <i class="fa fa-plus" data-toggle="modal" data-target="#educationModalCenter"></i>
            </h5>
        </div>
    </div>

    <div class="row main-text-color mt-2">
        <div class="col-md-12">
            <h6>3D Animation and Digital Marketing Diploma &nbsp; <i class="fa fa-edit"></i></h6>
            <p>2015 - 2020</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, consequuntur! Illum ab molestiae,
                tenetur nam laborum blanditiis ex excepturi libero quaerat mollitia? Delectus vitae nihil iusto esse
                magnam voluptatem ad.</p>
        </div>
    </div>

</section>

<section id="location" class="bg box-shadow mt-2">
    <div class="row py-3 main-text-color location-head">
        <div class="col-md-12">
            <h5>Location &nbsp; <i class="fa fa-plus" data-toggle="modal" data-target="#locationModalCenter"></i> &nbsp;
                <i class="fa fa-edit" data-toggle="modal" data-target="#locationModalCenter"></i></h5>
        </div>
    </div>

    <div class="row main-text-color mt-2">
        <div class="col-md-12">
            <h6>Sri Lanka</h6>
            <p>No: 01, P.B Alwis Perera Mawatha, Katubedda, Moratuwa</p>
        </div>
    </div>

</section>

<section id="skills" class="bg box-shadow mt-2 mb-5">
    <div class="row py-3 main-text-color skills-head">
        <div class="col-md-12">
            <h5>Skills &nbsp; <i class="fa fa-plus" data-toggle="modal" data-target="#skillsModalCenter"></i> &nbsp; <i
                    class="fa fa-edit"></i></h5>
        </div>
    </div>

    <div class="row main-text-color mt-2">
        <div class="col-md-12">
            <ul>
                <li><a>Ps</a></li>
                <li><a>Illustrator</a></li>
                <li><a>Filmora</a></li>
                <li><a>3D Max</a></li>
                <li><a>After Effect</a></li>
            </ul>
        </div>
    </div>

</section>


<div class="modal fade" id="overviewModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="pull-right" style="margin-bottom: 5px; font-size: 10px;">0 of 2000 charectors </p>
                        <textarea name="overview" class="form-control-sm" id="" cols="30" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-enable">Save</button>
                <button type="button" class="btn btn-disable" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="experienceModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Experiences</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput1232"
                                placeholder="Subject">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <p class="pull-right" style="margin-bottom: 5px; font-size: 10px;">0 of 2000 charectors </p> -->
                        <textarea name="overview" class="form-control-sm" id="" cols="30" rows="6"
                            placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-enable">Save</button>
                <button type="button" class="btn btn-disable">Save & Add more</button>
                <button type="button" class="btn btn-disable" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="educationModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Educations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput1202"
                                placeholder="School/ University">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput7812"
                                placeholder="From">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput002"
                                placeholder="To">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput12"
                                placeholder="Degree">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <p class="pull-right" style="margin-bottom: 5px; font-size: 10px;">0 of 2000 charectors </p> -->
                        <textarea name="overview" class="form-control-sm" id="" cols="30" rows="6"
                            placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-enable">Save</button>
                <button type="button" class="btn btn-disable">Save & Add more</button>
                <button type="button" class="btn btn-disable" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="locationModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Locations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput332"
                                placeholder="Country">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput652"
                                placeholder="Location">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-enable">Save</button>
                <button type="button" class="btn btn-disable" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="skillsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Locations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput82"
                                placeholder="skills">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-enable">Save</button>
                <button type="button" class="btn btn-disable">Save & Add more</button>
                <button type="button" class="btn btn-disable" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
