<section id="manage-bidders-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color img-name-head">
        <div class="col-md-12">
            <div class="pro-img"
                style="background-image: url(https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png);"></div>
            <div class="row nam-and-tags">
                <div class="col-md-12">
                    <h5>Tommy Jeremd</h5>
                    <ul>
                        <li><i class="fa fa-th-large"></i>&nbsp;Epic Coder</li>
                        <li><i class="fa fa-globe"></i> USA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-star text-color"></i> &nbsp;<i class="fa fa-star text-color"></i> &nbsp; <i
                    class="fa fa-star text-color"></i> &nbsp;<i class="fa fa-star text-color"></i> &nbsp;<i
                    class="fa fa-star text-color"></i> &nbsp;5.0 of 5 Review</p>

            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">Fixed Price</th>
                        <th scope="col">Deliver Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$452</td>
                        <td>10 days</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-enable mr-2">Accept</button>
            <button class="btn btn-sm btn-disable mr-2">View Profile</button>
            <button class="btn btn-sm btn-disable mr-2">Message</button>
            <button class="btn btn-sm btn-disable mr-2"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</section>

<div class="row mt-4 mb-2 text-center loadin-post">
    <div class="col-md-12">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
</div>