#portfolio {
    padding: 10px;
}

.portfolio-head button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px 15px 0px 0px;
}

#gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
  }
  .card{
    width:100%;
    height:auto;
    margin: 4% auto;
    /* box-shadow:-3px 5px 15px #000; */
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .modal-img,.model-vid{
    width:100%;
    height:auto;
  }
  .modal-body{
    padding:10px;
  }

  .upload-sec{
    width: 100%;
    height: 32px;
    border: solid 1px rgb(206, 212, 218);
      border-radius: 3px;
  }

  .img-zone{
    width: 100%;
    height: 60px;
    background-color: rgb(206, 212, 218);
      border-radius: 3px;
  }

  .port-img{
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
    margin: 5px;
    background-color: blue;
    /* margin-right: ; */
  }