<div class="container">
    <div class="row">
        <div class="col-md-3">
            <section id="user-profile-card " class="bg box-shadow">
                <div class="profile-card-header main-bg-color"></div>
                <div class="row profile-img-card">
                    <div class="col-md-12">
                        <div class="profile-img"></div>
                    </div>
                </div>

                <div class="row profile-card-name main-text-color">
                    <div class="col-md-12">
                        <h5>Arosha Rj</h5>
                        <p>Web Developer at Self Employee</p>
                    </div>
                </div>
                <hr>
                <div class="row following main-text-color">
                    <div class="col-md-12">
                        <h5>Following</h5>
                        <p>125</p>
                    </div>
                </div>
                <hr>
                <div class="row followers main-text-color">
                    <div class="col-md-12">
                        <h5>Followers</h5>
                        <p>365</p>
                    </div>
                </div>
                <hr>
                <div class="row card3-footer">
                    <div class="col-md-12">
                        <p>View Profile</p>
                    </div>
                </div>
            </section>

            <section id="suggestionSec" class="bg box-shadow mt-3">
                <div class="row top-header main-text-color">
                    <div class="col-md-12">
                        <h5>Suggestion</h5>
                        <span class="top-header-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <hr>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBaHqc4ldBfDH6k9gxlvESW9PaZHWK7SZua6Lrn40U9yoDmOR&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Jhone Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://images.unsplash.com/photo-1558507652-2d9626c4e67a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Jhone Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJGwgLPY07NAYGeBuG-DGFnBeH2pHS56Wj-A&usqp=CAU);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Arosha Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS92A44u5V8uQTlysQ741cKMVfAmy8SR-2Bi4VoOW_rm6xHMxvM&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Mia Kalifa</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS5N0nmqHUL1kM0uUtdxMtKbGDPkDo1Z5Lwf_nXRW-RUCHI3A&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Sam Alex</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row card2-footer">
                    <div class="col-md-12">
                        <p>View More</p>
                    </div>
                </div>

            </section>

            <section id="footer-link" class="bg box-shadow mt-3">
                <nav>
                    <a href="#">Help Center</a> |
                    <a href="#">About</a> |
                    <a href="#">Privecy & Policy</a> |
                    <a href="#">Community Guidline</a> |
                    <a href="#">Cookies Policy</a> |
                    <a href="#">Career</a> |
                    <a href="#">Forum</a> |
                    <a href="#">Language</a> |
                    <a href="#">Copyright Policy</a>
                </nav>

                <div class="coppyright">
                    <a>&copy; Copyright 2020 devfont.com</a>
                </div>
            </section>
        </div>
        <div class="col-md-6">

            <section id="postSection" class="box-shadow">
                <div class="post-profile-img">
                </div>

                <div class="row post-btn">
                    <div class="col-md-12">
                        <button class="btn btn-enable btn-sm" data-toggle="modal" data-target="#post-modal">Post
                            News</button>
                        <!-- <button class="btn btn-disable btn-sm ml-2">Post Project</button> -->
                    </div>
                </div>
            </section>

            <section id="post" class="bg mt-2 box-shadow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-img">
                        </div>
                        <h5 class="post-profile-name">Arosha RJ</h5>
                        <p class="posted-time main-text-color"><i class="fa fa-clock-o"> 3 min ago</i></p>
                        <span class="post-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                        <ul class="dropdown-menu post-option-dropdown">
                            <li><a href="#">Edit Post</a></li>
                            <li><a href="#">UnSaved</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Hide</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav class="form-inline mr-auto personal-tag-nav main-text-color">
                            <ul class="personal-tag-left">
                                <li class="d-inline "><i class="fa fa-th-large"></i>JS Developer</li>
                                <li class="d-inline "><i class="fa fa-globe"></i>Sri Lanka</li>
                            </ul>

                            <ul class="personal-tag-right">
                                <li class="d-inline ">
                                    <i class="fa fa-tags"></i>
                                </li>
                                <li class="d-inline ">
                                    <i class="fa fa-envelope"></i>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>

                <div class="row post-topic main-text-color">
                    <div class="col-md-12">
                        <h5>Senior JS Developer</h5>
                    </div>
                </div>

                <div class="row sub-topic main-text-color">
                    <div class="col-md-12">
                        <h6><span class="badge badge-success">Full Time</span>$289 - $599</h6>
                    </div>
                </div>

                <div class="row post-description main-text-color">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta cum unde, sit iure saepe
                            fugiat odit impedit similique suscipit cumque libero quibusdam dicta. Aliquam distinctio
                            earum voluptatem tempora ullam ut?</p>
                    </div>
                </div>

                <div class="row post-tag-list form-inline">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">HTML</li>
                            <li class="d-inline">JS</li>
                            <li class="d-inline">CSS</li>
                            <li class="d-inline">Jquary</li>
                            <li class="d-inline">Angular</li>
                        </ul>
                    </div>
                </div>

                <div class="row form-inline mr-auto main-text-color post-bottom-sec">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">
                                <a href="#"><i class="fa fa-thumbs-up"></i> Likes</a>
                            </li>
                            <li class="d-inline">
                                <a (click)="commentView()"><i class="fa fa-comments"></i> Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-1 comment-section" *ngIf="commentViewEnable">
                    <div class="col-md-12">

                        <hr>
                        <div class="row comment-sec mb-1 main-text-color bg-hover">
                            <div class=" col-md-12">
                                <div class="commented-user"
                                    style="background-image: url(https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png);">
                                </div>
                                <div class="row comment">
                                    <div class="col-md-12">
                                        <h5>Arosha Rukshan</h5>
                                        <span><i class="fa fa-clock-o"> 3min ago</i></span>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quis illum
                                            consequuntur, voluptates expedita delectus autem itaque! Ab itaque veniam
                                            ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea numquam.
                                        </p>

                                        <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu comment-option-dropdown">
                                            <li><a href="#">Edit</a></li>
                                            <!-- <li><a href="#">UnSaved</a></li> -->
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Hide</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row comment-sec mb-1 main-text-color bg-hover">
                            <div class=" col-md-12">
                                <div class="commented-user"
                                    style="background-image: url(https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png);">
                                </div>
                                <div class="row comment">
                                    <div class="col-md-12">
                                        <h5>chalith GG</h5>
                                        <span><i class="fa fa-clock-o"> 3min ago</i></span>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quis illum
                                            consequuntur, voluptates expedita delectus autem itaque! Ab itaque veniam
                                            ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea numquam.
                                        </p>

                                        <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu comment-option-dropdown">
                                            <li><a href="#">Edit</a></li>
                                            <!-- <li><a href="#">UnSaved</a></li> -->
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Hide</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row comment-sec mb-1 main-text-color bg-hover">
                            <div class=" col-md-12">
                                <div class="commented-user"
                                    style="background-image: url(https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png);">
                                </div>
                                <div class="row comment">
                                    <div class="col-md-12">
                                        <h5>Swimith Perera</h5>
                                        <span><i class="fa fa-clock-o"> 3min ago</i></span>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quis illum
                                            consequuntur, voluptates expedita delectus autem itaque! Ab itaque veniam
                                            ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea numquam.
                                        </p>

                                        <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                                        <ul class="dropdown-menu comment-option-dropdown">
                                            <li><a href="#">Edit</a></li>
                                            <!-- <li><a href="#">UnSaved</a></li> -->
                                            <li><a href="#">Delete</a></li>
                                            <li><a href="#">Hide</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <textarea name="" id="" cols="30" rows="2" placeholder="Comment here"></textarea>
                                <button class="btn btn-enable btn-sm float-right">POST</button>
                            </div>
                        </div>

                    </div>
                </div>


            </section>

            <div class="row mt-3" style="padding: 10px;">
                <div class="col-md-12 main-text-color">
                    <h5>Top Profile</h5>
                </div>
            </div>

            <section id="profile-slider" class=" mt-2 bg  box-shadow">
                <div class="row">
                    <div class="col-md-4 top-profile">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/avatar-367-456319.png" alt=""
                            class="top-profile-img">
                        <h6>Anne DG</h6>
                        <p>Web Developer</p>
                        <hr>
                        <a class="d-inline profile-card-option bg3">Follow</a>
                        <a class="d-inline profile-card-option bg2"><i class="fa fa-envelope"></i></a>
                        <a class="d-inline profile-card-option bg1">Hire</a>

                        <button class="btn btn-sm mt-2 btn-block">View Profile</button>
                    </div>

                    <div class="col-md-4 top-profile">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTXiWnDLUcA_NFHrYFl7QEHPGilT87GbKmt8A&usqp=CAU"
                            alt="" class="top-profile-img">
                        <h6>Alex Bo</h6>
                        <p>Business Developer</p>
                        <hr>
                        <a class="d-inline profile-card-option bg3">Follow</a>
                        <a class="d-inline profile-card-option bg2"><i class="fa fa-envelope"></i></a>
                        <a class="d-inline profile-card-option bg1">Hire</a>

                        <button class="btn btn-sm mt-2 btn-block">View Profile</button>
                    </div>

                    <div class="col-md-4 top-profile">
                        <img src="https://www.pngitem.com/pimgs/m/111-1114839_circle-people-icon-flat-png-avatar-icon-transparent.png"
                            alt="" class="top-profile-img">
                        <h6>Jhone Doa</h6>
                        <p>Graphic Designer</p>
                        <hr>
                        <a class="d-inline profile-card-option bg3">Follow</a>
                        <a class="d-inline profile-card-option bg2"><i class="fa fa-envelope"></i></a>
                        <a class="d-inline profile-card-option bg1">Hire</a>

                        <button class="btn btn-sm mt-2 btn-block">View Profile</button>
                    </div>
                </div>
            </section>

            <section id="post" class="bg mt-2 box-shadow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-img"
                            style="background-image: url(https://i.pinimg.com/originals/d0/f4/fc/d0f4fc818a35285642ba057436fc8720.jpg);">
                        </div>
                        <h5 class="post-profile-name">Alex Row</h5>
                        <p class="posted-time main-text-color"><i class="fa fa-clock-o"> 3 min ago</i></p>
                        <span class="post-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                        <ul class="dropdown-menu post-option-dropdown">
                            <li><a href="#">Edit Post</a></li>
                            <li><a href="#">UnSaved</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Hide</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav class="form-inline mr-auto personal-tag-nav main-text-color">
                            <ul class="personal-tag-left">
                                <li class="d-inline "><i class="fa fa-th-large"></i>JS Developer</li>
                                <li class="d-inline "><i class="fa fa-globe"></i>Sri Lanka</li>
                            </ul>

                            <ul class="personal-tag-right">
                                <li class="d-inline ">
                                    <i class="fa fa-tags"></i>
                                </li>
                                <li class="d-inline ">
                                    <i class="fa fa-envelope"></i>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>

                <div class="row post-topic main-text-color">
                    <div class="col-md-12">
                        <h5>React web Developer</h5>
                    </div>
                </div>

                <div class="row sub-topic main-text-color">
                    <div class="col-md-12">
                        <h6><span class="badge badge-warning">Part Time</span>$289 - $599</h6>
                    </div>
                </div>

                <div class="row post-description main-text-color">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta cum unde, sit iure saepe
                            fugiat odit impedit similique suscipit cumque libero quibusdam dicta. Aliquam distinctio
                            earum voluptatem tempora ullam ut?</p>
                    </div>
                </div>

                <div class="row post-tag-list form-inline">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">HTML</li>
                            <li class="d-inline">JS</li>
                            <li class="d-inline">CSS</li>
                            <li class="d-inline">Jquary</li>
                            <li class="d-inline">Angular</li>
                        </ul>
                    </div>
                </div>

                <div class="row form-inline mr-auto main-text-color post-bottom-sec">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">
                                <a href="#"><i class="fa fa-thumbs-up"></i> Likes</a>
                            </li>
                            <li class="d-inline">
                                <a href="#"><i class="fa fa-comments"></i> Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </section>

            <section id="post" class="bg mt-2 box-shadow">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post-img"
                            style="background-image: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
                        </div>
                        <h5 class="post-profile-name">Jhone Philp</h5>
                        <p class="posted-time main-text-color"><i class="fa fa-clock-o"> 3 min ago</i></p>
                        <span class="post-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                        <ul class="dropdown-menu post-option-dropdown">
                            <li><a href="#">Edit Post</a></li>
                            <li><a href="#">UnSaved</a></li>
                            <li><a href="#">Delete</a></li>
                            <li><a href="#">Hide</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav class="form-inline mr-auto personal-tag-nav main-text-color">
                            <ul class="personal-tag-left">
                                <li class="d-inline "><i class="fa fa-th-large"></i>JS Developer</li>
                                <li class="d-inline "><i class="fa fa-globe"></i>Sri Lanka</li>
                            </ul>

                            <ul class="personal-tag-right">
                                <li class="d-inline ">
                                    <i class="fa fa-tags"></i>
                                </li>
                                <li class="d-inline ">
                                    <i class="fa fa-envelope"></i>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>

                <div class="row post-topic main-text-color">
                    <div class="col-md-12">
                        <h5>Social Media Marketing</h5>
                    </div>
                </div>

                <div class="row sub-topic main-text-color">
                    <div class="col-md-12">
                        <h6><span class="badge badge-success">Full Time</span>$289 - $599</h6>
                    </div>
                </div>

                <div class="row post-description main-text-color">
                    <div class="col-md-12">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta cum unde, sit iure saepe
                            fugiat odit impedit similique suscipit cumque libero quibusdam dicta. Aliquam distinctio
                            earum voluptatem tempora ullam ut?</p>
                    </div>
                </div>

                <div class="row post-tag-list form-inline">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">HTML</li>
                            <li class="d-inline">JS</li>
                            <li class="d-inline">CSS</li>
                            <li class="d-inline">Jquary</li>
                            <li class="d-inline">Angular</li>
                        </ul>
                    </div>
                </div>

                <div class="row form-inline mr-auto main-text-color post-bottom-sec">
                    <div class="col-md-12">
                        <ul>
                            <li class="d-inline">
                                <a href="#"><i class="fa fa-thumbs-up"></i> Likes</a>
                            </li>
                            <li class="d-inline">
                                <a href="#"><i class="fa fa-comments"></i> Comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <div class="row mt-4 mb-2 text-center loadin-post">
                <div class="col-md-12">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3">

            <section id="timeTracker" class="bg box-shadow">
                <div class="row time-tracker">
                    <div class="col-md-12">
                        <img src="https://i.ya-webdesign.com/images/time-clipart-transparent-11.png" alt="">
                    </div>
                </div>
                <div class="row track-time-header main-text-color">
                    <div class="col-md-12">
                        <h5>Track Time on UserWise</h5>
                        <p>pay only for the hours works</p>
                    </div>
                </div>

                <hr>

                <div class="row time-track-footer main-text-color">
                    <div class="col-md-12">
                        <h4>Sign Up</h4>
                        <p>Learn More</p>
                    </div>
                </div>
            </section>

            <section id="top-jobs" class="bg box-shadow mt-3">
                <div class="row top-header main-text-color">
                    <div class=" col-md-12">
                        <h5>Top Jobs</h5>
                        <span class="top-header-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <hr>

                <div class="row main-text-color mb-2">
                    <div class="col-md-12 job-bar">
                        <p class="job-topic">Senior Software Engineer</p>
                        <p class="top-job-usd-rate"><i class="fa fa-usd"></i>105/ hr </p>
                        <p class="job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. amet consectetur
                            adipisicing</p>
                    </div>
                </div>

                <div class="row main-text-color mb-2">
                    <div class="col-md-12 job-bar">
                        <p class="job-topic">Web Developer</p>
                        <p class="top-job-usd-rate"><i class="fa fa-usd"></i>55/ hr </p>
                        <p class="job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>

                <div class="row main-text-color mb-2">
                    <div class="col-md-12 job-bar">
                        <p class="job-topic">Marketing Manager</p>
                        <p class="top-job-usd-rate"><i class="fa fa-usd"></i>25/ hr </p>
                        <p class="job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor
                            sit</p>
                    </div>
                </div>

                <div class="row main-text-color mb-2">
                    <div class="col-md-12 job-bar">
                        <p class="job-topic">IT Operator</p>
                        <p class="top-job-usd-rate"><i class="fa fa-usd"></i>15/ hr </p>
                        <p class="job-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </section>

            <section id="suggestionSec" class="bg box-shadow mt-3 mb-4">
                <div class="row top-header main-text-color">
                    <div class=" col-md-12">
                        <h5>Most View Peoples</h5>
                        <span class="top-header-right-option" data-toggle="dropdown">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <hr>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBaHqc4ldBfDH6k9gxlvESW9PaZHWK7SZua6Lrn40U9yoDmOR&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Jhone Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://images.unsplash.com/photo-1558507652-2d9626c4e67a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Jhone Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRJGwgLPY07NAYGeBuG-DGFnBeH2pHS56Wj-A&usqp=CAU);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Arosha Doe</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS92A44u5V8uQTlysQ741cKMVfAmy8SR-2Bi4VoOW_rm6xHMxvM&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Mia Kalifa</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="sug-img"
                            style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS5N0nmqHUL1kM0uUtdxMtKbGDPkDo1Z5Lwf_nXRW-RUCHI3A&s);">
                        </div>
                        <div class="row sug-name-tag main-text-color">
                            <div class="col-md-12">
                                <h6>Sam Alex</h6>
                                <p>Graphic Designer</p>
                            </div>
                        </div>
                        <button class="btn plus-btn"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="row card2-footer">
                    <div class="col-md-12">
                        <p>View More</p>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header main-bg-color">
                <h5 class="modal-title" id="exampleModalLongTitle">Post You Want</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <select class="form-control form-control-sm">
                            <option>Small select</option>
                            <option>Small select</option>
                            <option>Small select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" placeholder="Tag">
                    </div>
                    <div class="form-row">
                        <div class="col-md-5">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Price"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-center main-text-color" style="font-size: 14px;">To</div>
                        <div class=" col-md-5">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Price"
                                    aria-label="Dollar amount (with dot and two decimal places)">
                                <div class="input-group-append">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" mt-4">
                        <textarea class="form-control" rows="3" placeholder="Put Your Post"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-disable " data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-enable">Save changes</button>
            </div>
        </div>
    </div>
</div>
