<section id="post" class="bg mt-2 box-shadow">
    <div class="row">
        <div class="col-md-12">
            <div class="post-img">
            </div>
            <h5 class="post-profile-name">Arosha RJ</h5>
            <p class="posted-time main-text-color"><i class="fa fa-clock-o"> 3 min ago</i></p>
            <span class="post-right-option" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </span>
            <ul class="dropdown-menu post-option-dropdown">
                <li><a href="#">Edit Post</a></li>
                <li><a href="#">UnSaved</a></li>
                <li><a href="#">Delete</a></li>
                <li><a href="#">Hide</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav class="form-inline mr-auto personal-tag-nav main-text-color">
                <ul class="personal-tag-left">
                    <li class="d-inline "><i class="fa fa-th-large"></i>JS Developer</li>
                    <li class="d-inline "><i class="fa fa-globe"></i>Sri Lanka</li>
                </ul>

                <ul class="personal-tag-right">
                    <li class="d-inline ">
                        <i class="fa fa-tags"></i>
                    </li>
                    <li class="d-inline ">
                        <i class="fa fa-envelope"></i>
                    </li>
                </ul>

            </nav>
        </div>
    </div>

    <div class="row post-topic main-text-color">
        <div class="col-md-12">
            <h5>Senior JS Developer</h5>
        </div>
    </div>

    <div class="row sub-topic main-text-color">
        <div class="col-md-12">
            <h6><span class="badge badge-success">Full Time</span>$289 - $599</h6>
        </div>
    </div>

    <div class="row post-description main-text-color">
        <div class="col-md-12">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta cum unde, sit iure
                saepe
                fugiat odit impedit similique suscipit cumque libero quibusdam dicta. Aliquam
                distinctio
                earum voluptatem tempora ullam ut?</p>
        </div>
    </div>

    <div class="row post-tag-list form-inline">
        <div class="col-md-12">
            <ul>
                <li class="d-inline">HTML</li>
                <li class="d-inline">JS</li>
                <li class="d-inline">CSS</li>
                <li class="d-inline">Jquary</li>
                <li class="d-inline">Angular</li>
            </ul>
        </div>
    </div>

    <div class="row form-inline mr-auto main-text-color post-bottom-sec">
        <div class="col-md-12">
            <ul>
                <li class="d-inline">
                    <a href="#"><i class="fa fa-thumbs-up"></i> Likes</a>
                </li>
                <li class="d-inline">
                    <a (click)="commentView()"><i class="fa fa-comments"></i> Comments</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-1 comment-section" *ngIf="commentViewEnable">
        <div class="col-md-12">

            <hr>
            <div class="row comment-sec mb-1 main-text-color bg-hover">
                <div class=" col-md-12">
                    <div class="commented-user"
                        style="background-image: url(https://cdn.iconscout.com/icon/free/png-512/avatar-370-456322.png);">
                    </div>
                    <div class="row comment">
                        <div class="col-md-12">
                            <h5>Arosha Rukshan</h5>
                            <span><i class="fa fa-clock-o"> 3min ago</i></span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
                                quis illum
                                consequuntur, voluptates expedita delectus autem itaque! Ab itaque
                                veniam
                                ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea
                                numquam.
                            </p>

                            <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu comment-option-dropdown">
                                <li><a href="#">Edit</a></li>
                                <!-- <li><a href="#">UnSaved</a></li> -->
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Hide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row comment-sec mb-1 main-text-color bg-hover">
                <div class=" col-md-12">
                    <div class="commented-user"
                        style="background-image: url(https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png);">
                    </div>
                    <div class="row comment">
                        <div class="col-md-12">
                            <h5>chalith GG</h5>
                            <span><i class="fa fa-clock-o"> 3min ago</i></span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
                                quis illum
                                consequuntur, voluptates expedita delectus autem itaque! Ab itaque
                                veniam
                                ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea
                                numquam.
                            </p>

                            <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu comment-option-dropdown">
                                <li><a href="#">Edit</a></li>
                                <!-- <li><a href="#">UnSaved</a></li> -->
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Hide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row comment-sec mb-1 main-text-color bg-hover">
                <div class=" col-md-12">
                    <div class="commented-user"
                        style="background-image: url(https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png);">
                    </div>
                    <div class="row comment">
                        <div class="col-md-12">
                            <h5>Swimith Perera</h5>
                            <span><i class="fa fa-clock-o"> 3min ago</i></span>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
                                quis illum
                                consequuntur, voluptates expedita delectus autem itaque! Ab itaque
                                veniam
                                ducimus hic deserunt commodi temporibus atque? Blanditiis fugit ea
                                numquam.
                            </p>

                            <i class="fa fa-ellipsis-v comment-option" data-toggle="dropdown"></i>
                            <ul class="dropdown-menu comment-option-dropdown">
                                <li><a href="#">Edit</a></li>
                                <!-- <li><a href="#">UnSaved</a></li> -->
                                <li><a href="#">Delete</a></li>
                                <li><a href="#">Hide</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <textarea name="" id="" cols="30" rows="2" placeholder="Comment here"></textarea>
                    <button class="btn btn-enable btn-sm float-right">POST</button>
                </div>
            </div>

        </div>
    </div>


</section>

<section id="post" class="bg mt-2 box-shadow">
    <div class="row">
        <div class="col-md-12">
            <div class="post-img">
            </div>
            <h5 class="post-profile-name">Arosha RJ</h5>
            <p class="posted-time main-text-color"><i class="fa fa-clock-o"> 3 min ago</i></p>
            <span class="post-right-option" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </span>
            <ul class="dropdown-menu post-option-dropdown">
                <li><a href="#">Edit Post</a></li>
                <li><a href="#">UnSaved</a></li>
                <li><a href="#">Delete</a></li>
                <li><a href="#">Hide</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <nav class="form-inline mr-auto personal-tag-nav main-text-color">
                <ul class="personal-tag-left">
                    <li class="d-inline "><i class="fa fa-th-large"></i>JS Developer</li>
                    <li class="d-inline "><i class="fa fa-globe"></i>Sri Lanka</li>
                </ul>

                <ul class="personal-tag-right">
                    <li class="d-inline ">
                        <i class="fa fa-tags"></i>
                    </li>
                    <li class="d-inline ">
                        <i class="fa fa-envelope"></i>
                    </li>
                </ul>

            </nav>
        </div>
    </div>

    <div class="row post-topic main-text-color">
        <div class="col-md-12">
            <h5>Senior JS Developer</h5>
        </div>
    </div>

    <div class="row sub-topic main-text-color">
        <div class="col-md-12">
            <h6><span class="badge badge-success">Full Time</span>$289 - $599</h6>
        </div>
    </div>

    <div class="row post-description main-text-color">
        <div class="col-md-12">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta cum unde, sit iure
                saepe
                fugiat odit impedit similique suscipit cumque libero quibusdam dicta. Aliquam
                distinctio
                earum voluptatem tempora ullam ut?</p>
        </div>
    </div>

    <div class="row post-tag-list form-inline">
        <div class="col-md-12">
            <ul>
                <li class="d-inline">HTML</li>
                <li class="d-inline">JS</li>
                <li class="d-inline">CSS</li>
                <li class="d-inline">Jquary</li>
                <li class="d-inline">Angular</li>
            </ul>
        </div>
    </div>

    <div class="row form-inline mr-auto main-text-color post-bottom-sec">
        <div class="col-md-12">
            <ul>
                <li class="d-inline">
                    <a href="#"><i class="fa fa-thumbs-up"></i> Likes</a>
                </li>
                <li class="d-inline">
                    <a (click)="commentView()"><i class="fa fa-comments"></i> Comments</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<div class="row mt-4 mb-2 text-center loadin-post">
    <div class="col-md-12">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
</div>