<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-md-3">
            <section id="sidebar-setting" class="box-shadow bg pd">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-account-setting-tab" data-toggle="pill"
                        href="#v-pills-account-setting" role="tab" aria-controls="v-pills-account-setting"
                        aria-selected="true"><i class="fa fa-user"></i> &nbsp; Account
                        Setting</a>
                    <a class="nav-link" id="v-pills-status-tab" data-toggle="pill" href="#v-pills-status" role="tab"
                        aria-controls="v-pills-status" aria-selected="false"><i class="fa fa-area-chart"></i>
                        &nbsp;Satatus</a>
                    <a class="nav-link" id="v-pills-save-password-tab" data-toggle="pill" href="#v-pills-save-password"
                        role="tab" aria-controls="v-pills-save-password" aria-selected="false"><i class="fa fa-key"></i>
                        &nbsp;Save
                        Password</a>
                    <a class="nav-link" id="v-pills-notification-tab" data-toggle="pill" href="#v-pills-notification"
                        role="tab" aria-controls="v-pills-notification" aria-selected="false"><i class="fa fa-bell"></i>
                        &nbsp;Notiications</a>
                    <a class="nav-link" id="v-pills-requests-tab" data-toggle="pill" href="#v-pills-requests" role="tab"
                        aria-controls="v-pills-requests" aria-selected="false"><i class="fa fa-paper-plane"></i>
                        &nbsp;Requests</a>
                    <a class="nav-link" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab"
                        aria-controls="v-pills-security" aria-selected="false"><i class="fa fa-shield"></i>
                        &nbsp;Security and Login</a>
                    <a class="nav-link" id="v-pills-privacy-tab" data-toggle="pill" href="#v-pills-privacy" role="tab"
                        aria-controls="v-pills-privacy" aria-selected="false"><i class="fa fa-user-secret"></i>
                        &nbsp;Privacy</a>
                    <a class="nav-link" id="v-pills-bloking-tab" data-toggle="pill" href="#v-pills-bloking" role="tab"
                        aria-controls="v-pills-bloking" aria-selected="false"><i class="fa fa-ban"></i>
                        &nbsp;Bloking</a>
                    <a class="nav-link" id="v-pills-deactivate-tab" data-toggle="pill" href="#v-pills-deactivate"
                        role="tab" aria-controls="v-pills-deactivate" aria-selected="false"><i
                            class="fa fa-trash-o"></i>
                        &nbsp;Deactivate Account</a>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <section id="setting-body" class="box-shadow bg pd">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-account-setting" role="tabpanel"
                        aria-labelledby="v-pills-account-setting-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Account Setting</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Notification Sound</h6>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate voluptates nulla
                                    veniam veritatis ab obcaecati magni deserunt eius</p>
                                <div class="toggleWrapper">
                                    <input type="checkbox" data-toggle="switchbutton" checked data-size="xs">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Notification Email</h6>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate voluptates nulla
                                    veniam veritatis ab obcaecati magni deserunt eius</p>
                                <div class="toggleWrapper">
                                    <input type="checkbox" checked data-toggle="toggle" data-size="xs">
                                    <!-- <input class="dn" id="dn" type="checkbox" /> -->
                                    <!-- <label class="toggle" for="dn"><span class="toggle__handler"></span></label> -->
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Chat Message Sound</h6>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate voluptates nulla
                                    veniam veritatis ab obcaecati magni deserunt eius</p>
                                <div class="toggleWrapper">
                                    <input type="checkbox" checked data-toggle="toggle" data-size="xs">
                                    <!-- <input class="dn" id="dn" type="checkbox" /> -->
                                    <!-- <label class="toggle" for="dn"><span class="toggle__handler"></span></label> -->
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-enable">Save Setting</button>
                                <button class="btn btn-sm btn-disable ml-2">Reset Setting</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-status" role="tabpanel" aria-labelledby="v-pills-status-tab">
                        5
                    </div>
                    <div class="tab-pane fade" id="v-pills-save-password" role="tabpanel"
                        aria-labelledby="v-pills-save-password-tab">
                        5
                    </div>
                    <div class="tab-pane fade" id="v-pills-notification" role="tabpanel"
                        aria-labelledby="v-pills-notification-tab">
                        5
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
