<section id="my-active-bid-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Seneor PHP Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">Fixed Price</th>
                        <th scope="col">Deliver Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$452</td>
                        <td>10 days</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-desable mr-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-desable"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</section>

<section id="my-active-bid-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Nodejs Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">Fixed Price</th>
                        <th scope="col">Deliver Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$452</td>
                        <td>10 days</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-desable mr-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-desable"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</section>

<section id="my-active-bid-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Laravel Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">Fixed Price</th>
                        <th scope="col">Deliver Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$452</td>
                        <td>10 days</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-sm btn-desable mr-2"><i class="fa fa-edit"></i></button>
            <button class="btn btn-sm btn-desable"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</section>

<div class="row mt-4 mb-2 text-center loadin-post">
    <div class="col-md-12">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
</div>