<section id="manage-bid-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Seneor Wordpress Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-clock-o text-color"></i> &nbsp;5 hours ago</p>
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">/Bids</th>
                        <th scope="col">Avg Bids (USD)</th>
                        <th scope="col">Project Budget (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>$700</td>
                        <td>$689 - $895</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-enable"><span class="badge badge-secondary">9</span> &nbsp;
                    Bidders</button>
                <button type="button" class="btn btn-disable main-text-color"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-disable  main-text-color"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</section>

<section id="manage-bid-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Seneor PHP Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-clock-o text-color"></i> &nbsp;9 hours ago</p>
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">/Bids</th>
                        <th scope="col">Avg Bids (USD)</th>
                        <th scope="col">Project Budget (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>$700</td>
                        <td>$689 - $895</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-enable"><span class="badge badge-secondary">9</span> &nbsp;
                    Bidders</button>
                <button type="button" class="btn btn-disable main-text-color"><i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-disable  main-text-color"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</section>

<div class="row mt-4 mb-2 text-center loadin-post">
    <div class="col-md-12">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
</div>