<section id="add-billing" class="bg box-shadow mt-2">
    <div class="row main-text-color add-billing-head">
        <div class="col-md-12">
            <h6>Add Billing Method</h6>
            <span><i class="fa fa-plus bg2"></i></span>
        </div>
    </div>

    <hr>

    <div class="row main-text-color see-activity">
        <div class="col-md-12">
            <h6>See Activity</h6>
            <p>View All</p>
        </div>
    </div>

    <hr>

    <div class="row main-text-color total-money">
        <div class="col-md-12">
            <h6>See Activity</h6>
            <p>$0.00</p>
        </div>
    </div>

    <hr>

    <div class="row main-text-color transaction text-center mt-2">
        <div class="col-md-12">
            <i class="fa fa-money text-color"></i>
            <p>All your Transaction Save here</p>
            <button class="btn btn-sm btn-enable">Click Here</button>
        </div>
    </div>
</section>

<section id="billing-two" class="bg box-shadow mt-2 mb-4">
    <div class="row">
        <div class="col-md-12">
            <h6>Add Billing Method</h6>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-shield text-color"></i>&nbsp;With workwise payment protection, only pay for work
                delivered.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <p>Credit or Debit Card</p>
            <img src="" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</section>