<section id="applied-job-sec" class="bg box-shadow mt-2">
    <div class="row main-text-color">
        <div class="col-md-12">
            <h5>Seneor Wordpress Developer</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><i class="fa fa-clock-o text-color"></i> &nbsp; posted on 12 August 2019</p>
            <table class="table main-text-color">
                <thead>
                    <tr>
                        <th scope="col">Application</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Posted: 5 days ago</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10</td>
                        <td>Full Time</td>
                        <td>$ 689 - Manual</td>
                        <td>Open</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-enable btn-sm mr-3">Applied</button>
            <button class="btn btn-disable btn-sm">Message</button>
        </div>
    </div>
</section>

<div class="row mt-4 mb-2 text-center loadin-post">
    <div class="col-md-12">
        <i class="fa fa-spinner" aria-hidden="true"></i>
    </div>
</div>